html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.rowTop {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 200px;
}
button {
  outline: none;
  background-color: #222;
  border-radius: 13px;
  color: white;
  width: 150px;
  border: none;
  padding: 8px;
}

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 13px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  /* width: 250px; */
  font-size: 50px;
  border: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}
